@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

/* body {
  min-width: 300px;
  max-width: 500px;
  padding: 0;
  margin: 0;
} */

.content {
  width: 100%;
}

.container {
  min-width: 300px;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #f2f2f2;
}

select {
  width: 95%;
  height: 55px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin: 10px;
  font-size: 17px;
}

input[type=text], input[type=number], textarea {

  height: 55px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 2em;
  width: 95%;
  margin: 10px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
.label {
  color: #82b78e
}

input[type=submit] {
  width: 100%;
  margin-bottom: 5%;
  background-color: #04AA6D;
  color: white;
  margin-top: 5%;
  padding: 25px;
  border: none;
  cursor: pointer;
  font-size: 2em;
}


.btn-voltar {
  width: 100%;
  margin-bottom: 5%;
  background-color: #04AA6D;
  color: white;
  margin-top: 5%;
  padding: 25px;
  border: none;
  cursor: pointer;
  font-size: 2em;
}

.logo {
  width: 100%;
}
.rodape {
  position: fixed;
  bottom: 0;
  width:100%;
  text-align: center;
}

.col {
  width: 100%;
  padding-left: 10px;
    padding-right: 10px;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
}
h2 {
  font-size: 20px;
}
p {

  margin-top: -11px;
  font-size: 12px;
  margin-bottom: 25px;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
  }
} */